!conf.d/sites.conf
fastcgi_params
fastcgi.conf
koi-utf
koi-win
mime.types
modules
nginx.conf
scgi_params
sites-enabled/*
!sites-enabled/empty
!ssl/empty
uwsgi_params
win-utf
*.default
ssl/*.key
ssl/*.crt